@page "/Calculator"

<PageTitle>Calculator</PageTitle>
<h3>Calculator</h3>

<div class= = "containerCalc">
    <div class="calculator">
        <form>
            <div>
                <input type= "text" name="display">

            </div>
            <div>
                <input type="button" value="1">
                <input type="button" value="2">
                <input type="button" value="3">
            </div>
        </form>
    </div>
</div>


@code {

}
